* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('images/WhatsApp Image 2025-07-16 at 20.22.30_4e1072af.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: Arial, sans-serif;
  
}
header {
  background: rgb(249, 9, 89);
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
nav a {
  color: white;
  text-decoration: none;
}
.cart {
  background: white;
  color: rgb(51, 51, 51);
  padding: 4.5px 5px;
  border-radius: 5px;
  font-weight: bold;
}
.hero {
  text-align: center;
  background: rgb(225, 245, 254);
  padding: 32px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;
  gap: 16px;
}
.product {
  background: white;
  border-radius: 10px;
  width: 45%;
  max-width: 250px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product img {
  width: 100%;
  border-radius: 5px;
}
.product h3 {
  margin: 8px 0;
}
.product span {
  display: block;
  margin-top: 8px;
  color: green;
  font-weight: bold;
}
.product button {
  margin-top: 8px;
  width: 100%;
  background: rgb(0, 123, 255);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.product button:hover {
  background: #0056b3; 
}


footer {
  background: rgb(51, 51, 51);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}
/* Response*/
@media (max-width: 768px) {
  .product {
    width: 90%;
  }
}